/*Pixel Art Maker project by Mila K-L*/

/*January 2018*/


body {
  text-align: center;
  background-color: #F5FAC8
}

.mdc-toolbar__title {
  font-family: Joti One, cursive;
  font-size: 70px;
  margin: 0.25em 0 0.25em;
  color: #FFEB3B;
}

.mainContent {
  margin-top: 120px;
}

h1 {
  font-family: Joti One, cursive;
  font-size: 70px;
  margin: 0.2em;
  color: #539092;
}

h2 {
  margin: 1em 0 0.25em;
  font-family: Catamaran, sans-serif;
  color: #212121;
}

h2:first-of-type {
  margin-top: 0.5em;
}

table, tr, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 30px auto;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

.controlsLayout {
margin: 30px auto;
border: none;
}
.column {
  width: 500px;
  border: none;
}
.row {
  border: none;
}

input[type=number] {
  width: 6em;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 55px;
  height: 30px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

#sizePicker>button {
  margin-top: 10px;
}
