/*Pixel Art Maker project by Mila K-L*/

/*January 2018*/

body {
  background-color: #F7F39A;
}

.myTitle {
  font-family: Joti One, cursive;
  font-size: 70px;
  margin: 0.25em 0 0.25em;
  color: #FFEB3B;
}

.mainContent {
  margin-top: 120px;
  text-align: center;
}

.inputsCard {
  padding: 16px;
  background-color: #E1F6D6;
  margin-top: 78px;
}

.colourPickerTitle {
  margin-top: 40px;
}

.extraPadding {
  margin-right: 120px;
}

table, tr, td {
  border: 1px solid #346473;
}

table {
  border-collapse: collapse;
  margin: 30px auto;
  border: 2px solid #346473;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

.floatCheckbox {
  float: left;
  margin-top: 20px;
  margin-left: 40px;
}

input[type=number] {
  width: 6em;
}

input[type=number]::-webkit-outer-spin-button {
  display: none;
}

input[type=number]::-webkit-inner-spin-button {
  display: none;
}

.myButton {
  margin: 24px auto;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 56px;
  height: 32px;
  margin: 24px auto;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}
